{% extends 'default2.html' %}
{% block title %}
고객 정보 페이지
{% endblock %}

{% block contents %}
<h2>
    {{user['userid']}} 사용자 정보
</h2>
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">아이디</th>
        <th scope="col">이메일</th>
        <th scope="col">주소</th>
        <th scope="col">비밀번호</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row"></th>
        <td>{{user['userid']}}</td>
        <td>{{user['email']}}</td>
        <td>{{user['address']}}</td>
        <td>{{user['password']}}</td>
        </tr>
    </tbody>
</table>
<br>
<button onclick="location.href='/updateinput/{{user.userid}}'">수정</button>
<button onclick="location.href='/delete/{{user.userid}}'">삭제</button>
<button onclick="location.href='/list/'">돌아가기</button>
{% endblock %}