{% extends 'default2.html' %}
{% block title %}
수정 페이지
{% endblock %}

{% block contents %}
<h2>
    {{userid}} 사용자 정보 수정
</h2>
<form action="/update/{{userid}}" method='POST'>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">아이디</th>
            <th scope="col">이메일</th>
            <th scope="col">주소</th>
            <th scope="col">비밀번호</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row"></th>
            <td><input type="text" readonly value="{{userid}}"></td>
            <td><input type="text" name="email"></td>
            <td><input type="text" name="address"></td>
            <td><input type="text" name="password"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="전송">
</form>
<button onclick="location.href='/contents/{{userid}}'">돌아가기</button>
{% endblock %}